html{
    font-family: 'Roboto', sans-serif;
}
body{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: rgb(255, 249, 240);
}

div{
    margin: 0;
    padding: 0;
}

button{
    color: black;
    background-color: rgba(0,0,0,0);
    font-size: 1.1em;
    padding: 10px 30px;
    border: grey 1px solid;
    border-radius: 20px;
    transition: 0.15s linear;
}

button:hover{
    background-color: rgba(255, 80, 80, 0.5);
    border: white 1px solid;
    color: white;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.container div{
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid white;
}

.container div:hover{
    background-color: black;
}

.active{
    background-color: black;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}


.inputDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.reset {
    align-self: stretch;
    margin-top: 10px;
}

