html{
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 640px;
    height: 640px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.container div{
    border: none;
    box-sizing: border-box;
    transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container div:hover{
    background-color: black;
}

.active{
    background-color: black;
}