html{
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.container {
    width: 640px;
    height: 640px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: content-box;
    gap: 0;
    align-items:stretch;
}

.container div{
    border: none;
    box-sizing: border-box;
}

.container div:hover{
    background-color: black;
}

.active{
    background-color: black;
}
div{
    margin: 0;
    padding: 0;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}